div.soce{
	background:none !important;
	height:auto !important;
}

div.soce div.soc-top{
	background:url(../img/soc-top.png) no-repeat;
	width:49px;
	height:9px;
	overflow:hidden;
}

div.soce div.soc-body{
	background:url(../img/soc-body.png) repeat-y;
	width:49px;
	overflow:hidden;
}

div.soce div.soc-bottom{
	background:url(../img/soc-bottom.png) no-repeat;
	width:49px;
	height:12px;
	overflow:hidden;
}

div.soce ul li{
	margin:3px 0 4px 7px !important;
}

div.slaider-box div.slaide{
	margin:0 0 0 37px;
}